body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(225, 225, 225);
}

.calendar {
    height: 500px;
    width: 500px;
    background-color: rgb(116, 116, 116);
    border-radius: 30px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.calendar-header {
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.month-picker {
    border-radius: 10px;
    cursor: pointer;
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    width: 200px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: rgb(255, 255, 255);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
    border-radius: 50%;
}

.calendar-days div:hover span {
    transition: 0.5s ease-in-out;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(255, 234, 0);
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: rgb(17, 112, 255);
    color: white;
    border-radius: 50%;
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    font-size: 25px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    transform: scale(1.5);
    visibility: hidden;
    cursor: pointer;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}