/* 整體設定 */
*{margin:0px;padding:0px;}
/**
* 設定日曆的大小
*/
.calendar{
width: 240px;
height: 400px;
display: block;
}
/**
* 設定日曆頂部盒子
*/
.calendar .calendar-title-box{
position: relative;
width: 100%;
height: 36px;
line-height: 36px;
text-align:center;
border-bottom: 1px solid #ddd;
}
/**
* 設定上個月的按鈕圖示
*/
.calendar .prev-month {
position: absolute;
top: 12px;
left: 0px;
display: inline-block;
width: 0px;
height: 0px;
border-left: 0px;
border-top: 6px solid transparent;
border-right: 8px solid #999;
border-bottom: 6px solid transparent;
cursor: pointer;
}
/**
* 設定下個月的按鈕圖示
*/
.calendar .next-month {
position: absolute;
top: 12px;
right: 0px;
display: inline-block;
width: 0px;
height: 0px;
border-right: 0px;
border-top: 6px solid transparent;
border-left: 8px solid #999;
border-bottom: 6px solid transparent;
cursor: pointer;
}
/* 設定日曆表格樣式 */
.calendar-table{
width: 100%;
border-collapse: collapse;
text-align:center;
}
/* 表格行高 */
.calendar-table tr{
height: 30px;
line-height: 30px;
}
/* 當前天 顏色特殊顯示 */
.currentDay {
color: red;
}
/* 本月 文字顏色 */
.currentMonth {
color: #999;
}
/* 其他月顏色 */
.otherMonth{
color: #ede;
}