.shake{
  animation: shake 800ms ease-in-out;
}

@keyframes shake{
  10%,90%{transform: translate3d(-1px,0,0);}
  20%,80%{transform: translate3d(+2px,0,0);}
  30%,70%{transform: translate3d(-4px,0,0);}
  40%,60%{transform: translate3d(+4px,0,0);}
  50%{transform: translate3d(-4px,0,0);}
}

// react-bootstrap Accordion css
.accordion-button {
  background-color: #58c2dd;
  color: #fff;
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
}

.accordion-button:focus {
  box-shadow: none;
  color: #ffffff;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

// react-form-stepper CSS
.StepperContainer-0-2-1 {
  a {
    text-decoration: none;
    color: black;
  }
}

// Cart.js

tbody,
td,
tfoot,
th,
thead,
tr {
  border-style: none;
  text-align: center;
}

table {
  thead {
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
  }

  tbody {
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);

    .cart_items {
      td {
        vertical-align: middle;
      }
    }

    .img_container {
      border: 1px solid #fff;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto; //水平置中

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .cart_trush_btn {
      cursor: pointer;
    }
  }
}

.cart_checkarea {
  p {
    margin-bottom: 0;
  }

  form {
    input {
      border-color: #58c2dd;
    }
    button {
      border-color: #58c2dd;
      color: #58c2dd;

      &:hover {
        background-color: #58c2dd;
        color: #fff;
      }
    }
  }

  .quantity {
    display: flex;
    justify-content: space-between;
  }

  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cart_total_price{
      color: #dc3545;
      font-size: 1.5rem;
    }
  }

  .go_check {
    color: #fff;
    text-decoration: none;
    border: 1px solid #58c2dd;
    border-radius: 100px;
    // padding: 10px 50px;
    // width: 200px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background-color: #58c2dd;
  }
}

.LuckyWheelFont{
  font-size: 1.5rem;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

.coupon_game{
  // width: 60px;
  // height: 60px;
  // border-radius: 50%;
  // background-color: #e2d0ad;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  right: 3vw;
  bottom: 15vh;
  cursor: pointer;

  i{
    font-size: 2.5rem;
    color: #BE5438;
  }
}

// Cart_info.js & Cart_order.js checkarea
.checkarea {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);

  p {
    margin-bottom: 0;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cart_total_price{
      color: #dc3545;
      font-size: 1.5rem;
    }
  }

  button {
    &.last_page {
      background-color: transparent;
      color: #58c2dd;
    }

    &.next_page {
      background-color: #58c2dd;
      color: #fff;
    }

    text-decoration: none;
    border: 1px solid #58c2dd;
    border-radius: 100px;
    // padding: 10px 50px;
    // width: 200px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
  }
}

// Cart_info.js
.ErrorMessage{
  color: #dc3545;
}

// Cart_order.js

.swal2-container {
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }
}

// Cart_confirm.js

.cart_confirm {
  p,
  h3 {
    margin-bottom: 0;
  }

  .order_success {
    i {
      font-size: 2rem;
    }
  }

  .accordion {
    button {
      background-color: #58c2dd;
    }
  }

  .cart_confirm_btn {
    color: #fff;
    text-decoration: none;
    border: 1px solid #58c2dd;
    border-radius: 100px;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #58c2dd;
  }
}
