.block{
    background: #FFFFFF;
box-shadow: 0px 4px 72px -15px rgba(0, 0, 0, 0.25);
border-radius: 20px;

}
.client {
   color: #58C2DD;
   margin-bottom: 0px;

}
/* 注意這行 */
input.group{ 
    border:1px solid red
  }

.container .sixyellow {margin-bottom:20px ;
}

.form.control.validated{
  background-image: none;
}
.bu{
  
  background-color: #58c2dd;
color: #fff;
}
/* .button:not(.collapsed) {
  color: #ffffff;
} */
/* 
.button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #ffffff;
} */
