* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

body.my-login-page {
    background-color: #fff;
    /*要喚回白色*/
    background-image: url(/src/image/BG-signup.png);
    background-size: 960px auto;
    background-repeat: repeat-y;
    background-position: center;
    font-size: 14px;
    font-family: 'Noto Sans TC', sans-serif;
}

header {
    background-image: url(../../images/banner/headerA.png);
    background-size: 100vw auto;
    /* width: 100vw; */
    height: 20vw;
    /* background-image: linear-gradient(#aaa, #000); */
    background-position: top center;
    background-repeat: no-repeat;
}

main {
    display: flex;
    min-height: calc(100vh - 30vh);
    max-width: 960px;

    justify-content: center;

}

main>article {
    flex: 1;
}

main>aside {
    flex: 0 0 20vw;
    background: rgb(255, 255, 255);
}


header,
footer,
article,
aside {
    padding: 1em;
}

footer {
    background: yellowgreen;
    height: 20vh;
}

.breadcrumb {
    height: 20px;
    margin: 10px;
    background-color: #fff;
}

.btn-custom {
    background-color: #58C2DD;
    color: #fff;
    /* border-radius: 50%; */
}

.btn-custom:hover {
    color: #fff;
    background-color: #53acc2;
}


.align {
    /* justify-content: center; */
    text-align: center;
    color: #a9a9a9;
}

.star {
    color: red;
}

.m-title img {
    width: 50%;

}

span>.hy-link {
    color: #58C2DD;
}

.pic-dox {
    background-image: url(/src/image/icon/pic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px auto;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border: 1px solid #C4C4C4;

}

.text-control {
    font-weight: bolder;

}

.circle {
    border-radius: 50%;
    overflow: hidden;
}

img {
    width: 200px;
}

.clip-circle {
    clip-path: circle(25% at center);
}


figure img {
    max-width: 100%;
}

.circle {
    border-radius: 50%;
    overflow: hidden;
}

.box {
    width: 150px;
    height: 150px;
    background-color: #53acc2;
    overflow: hidden;
}

.p-control {
    /* background-image: none; */
    width: 250px;
}

.a1 {

    padding: 6px;
    font-size: 16px;
    /* font-weight: 400; */
    /* line-height: 1.5; */
    color: #212529;
    background-color: #fff;
    /* background-clip: padding-box; */
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

.a1:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

@media screen and (max-width: 576px) {
    .nav-link {
        font-size: 10px;
    }
}