body{
    background: #ddd;
  }
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  a, a:link{
    text-decoration: none;
    color:#3c5a9c;
  }
  a:hover{
    text-decoration: underline;
  }
  header{
    background: #fff;
    
  }
  header .wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  header img{
    width:200px;
  }
  .wrapper{
    max-width: 960px;
    margin:0 auto;
  }
  .header_link{
    margin-top:6px;
  }
  ul li{
    list-style: none;
  }
  nav{
    background: #3c5a9c;
  }
  nav ul{
    display: flex;
  }
  
  nav ul li a{
    color:#fff;
    display: block;
    padding:12px 20px;
    text-align: center;
  }
  nav ul li a:hover{
    background: #355089;
    text-decoration: none;
  }
  .main{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  aside{
    flex:1;
  }
  article{
    background: #fff;
    padding:20px;
    flex:3;
    min-height: 500px;
    border-radius: 6px;
    border:1px solid #ccc;
  }
  article h1{
    margin:0px 0 6px;
    font-size: 21px;
  }
  article p{
    margin:15px 0;
    font-size: 15px;
    line-height: 1.5;
  }
  figure{
    border:1px solid #ccc;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 20px;
    text-align: center;
  }
  .l_aside{
    margin-right: 20px;
  }
  .l_aside li a{
    display: block;
    padding:10px;
    color:#4b4f56;
    border-left: 4px solid transparent;
  }
  .l_aside li a:hover, .l_aside li.current a{
    font-weight: bold;
    background: #fff;
    text-decoration: none;
    border-left: 4px solid #4267b2;
  }
  .r_aside{
    display: flex;
    align-items: flex-end;
  }
  figure img{
    max-width: 100%;
  }
  time{
    color: #999;
  }
  footer{
    display: flex;
    height:60px;
    justify-content:center;
    align-items:center;
  }
  @media screen and (max-width: 768px){
    .main{
      flex-wrap: wrap;
    }
    aside, article{
      min-width: 100%;
    }
    nav ul li{
      flex:1;
    }
    .l_aside ul{
      display: flex;
    }
    .l_aside ul li{
      flex:1;
      text-align: center;
    }
    .l_aside ul li a{
      border:none;
      border-bottom: 4px transparent solid;
    }
    .l_aside ul li a:hover, .l_aside ul li.current a{
      border:none;
      border-bottom: 4px solid #4267b2;
    }
  }