* {
	margin: 0;
	padding: 0;

}


html,
body {
	height: 100%;
}

/* body{
	box-sizing: border-box;
} */


body.my-login-page {
	background-color: #fff;
	/*要喚回白色*/
	/* background-image: url(../image/BG-signup.png); */
	background-image: url(../images/BG-signup.png);
	background-size: 960px auto;
	background-repeat: repeat-y;
	background-position: center;
	/* font-size: 14px; */
	font-family: 'Noto Sans TC', sans-serif;
}

.my-login-page {
	background-color: #fff;
}

.my-login-page .brand {
	width: 220.5px;
	height: 274px;
	/* overflow: hidden;*/
	/* border-radius: 50%; */
	margin: 40px auto;
	/* box-shadow: 0 4px 8px rgba(0,0,0,.05); */
	position: relative;
	z-index: 1;
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
	/* background-color: #a9a9a9 */
}

.my-login-page .card {
	/* border-color: transparent; */
	/* border-color: #000; */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
	width:100%;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

.btn-custom {
	background-color: #58C2DD;
	color: #fff;
	/* border-radius: 50%; */
}

.btn-custom:hover {
	color: #fff;
	background-color: #53acc2;
}

.align {
	/* justify-content: center; */
	text-align: center;
	color: #a9a9a9;
	font-size: 1em;
}

.star {
	color: red;
}

.m-title img {
	width: 50%;

}

span>.hy-link {
	color: #58C2DD;
}

.pic-dox {
	background-image: url(../images/icon/pic.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 24px auto;
	width: 120px;
	height: 120px;
	margin-bottom: 20px;
	border: 1px solid #C4C4C4;

}

.avatar {
	width: 160px;
	height: 160px;
	background-image: url(../images/account/account-1.jpg);
	background-size: 300px;
	background-position-x: -20px;
	background-repeat: no-repeat;
	border-radius: 50%;
	color: #fff
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}