.test a {
    text-decoration: none;
    color: #58c2dd;
}

.test a:hover {
    opacity: 3;
    color: #000;
    transition: 0.3s;
}

.px1140 {

    margin: 35px 0px 0;

}

@media screen and (max-width:576px) {
    .px1140 {
        display: none;
    }
}