.container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: auto;
    align-items: center;
    color: #58c2dd;
    /* flex: 1 0 100%; */
}

.container.h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #ffffff;
    flex: auto;
}
.container.h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #000000;
}
.container h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.btn1 {
    background: #58c2dd;
    border-radius: 50px;
    border-color: #ffffff;
    width: 154px;
    height: 34px;
    color: #ffffff;
    border: #ffffff;
}
