/* navbar css */

nav .logo img {
  width: 140px;
  height: 70px;
}

.navbar-light .navbar-nav .nav-link {
  color: #58c2dd;
}

.breadcrumb .breadcrumb-item .active {
  color: #58c2dd;

}



nav .iconify {
  font-size: 30px;
  color: #dc710d;
}

nav .btn {
  color: #dc710d;
  border-color: #dc710d;
  border-radius: 30px;
}

nav ul {
  margin: 0 auto;
}

/* navbar mobile */


.navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar-toggler:focus {
  box-shadow: none;
}

nav #navopen,
nav #navclose {
  color: #dc710d;
  transition: 5s;
}

.testNav {
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 9999;
}


/* footer css */

footer {
  background-color: #85b327;
}

footer img {
  height: 149px;
  width: 170px;
}

footer a,
footer span,
footer p {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}

footer i {
  font-size: 24px;
  margin-right: 10px;
}

.bbbb {
  display: none;
}

@media screen and (max-width:768px) {
  .aaaa {
    display: none;
  }

  .bbbb {
    display: block;
  }

  footer a {
    font-size: 1rem;
    color: #fff;
    text-decoration: underline;
  }

}