.srarch_bar {
  padding: 0 22px 0 22px;
}

.srarch_bar .price_search {
  border: 1px solid #58c2dd;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #58c2dd;
  padding: 0.35rem 0.55rem;
}

.srarch_bar .price_search .p_icon_container {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.srarch_bar .product_search .form-control {
  width: 100%;
  border-color: #58c2dd;
  border: none;
  border-bottom: 1px solid #58c2dd;
  border-radius: 0%;
}

.srarch_bar .product_search .form-control:focus {
  border-color: transparent;
  -webkit-box-shadow: 0px 2px 0px 0px #58c2dd;
          box-shadow: 0px 2px 0px 0px #58c2dd;
  border-bottom: 1px solid #58c2dd;
  -webkit-transition: border-color .25s ease-in-out,-webkit-box-shadow .25s ease-in-out;
  transition: border-color .25s ease-in-out,-webkit-box-shadow .25s ease-in-out;
  transition: border-color .25s ease-in-out,box-shadow .25s ease-in-out;
  transition: border-color .25s ease-in-out,box-shadow .25s ease-in-out,-webkit-box-shadow .25s ease-in-out;
}

.srarch_bar .product_search button {
  background-color: #fff;
  border-color: #fff;
}

.srarch_bar .product_search button i {
  color: #58c2dd;
}

.product_category_aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product_category_aside button {
  border: 1px solid #58c2dd;
  border-radius: 100px;
  background-color: transparent;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.product_category_aside button#active {
  background-color: #58c2dd;
  color: #fff;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products a {
  text-decoration: none;
  color: #000;
}

.products .product_container {
  width: 25%;
  padding: 0 10px 20px 10px;
}

.products .product_container .product_card {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  overflow: hidden;
}

.products .product_container .product_card:hover img {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.products .product_container .product_card .imageContainer {
  overflow: hidden;
  width: 100%;
  height: 230px;
}

.products .product_container .product_card .imageContainer img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -o-object-fit: cover;
     object-fit: cover;
}

.products .product_container .product_card .product_card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .product_container .product_card .product_card_info button {
  border: 1px solid #58c2dd;
  border-radius: 100px;
  background-color: #58c2dd;
  width: 70px;
  height: 30px;
  margin-bottom: 10px;
}

.products .product_container .product_card .product_card_info button:focus-visible {
  outline: 0px;
}

.products .product_container .product_card .product_card_info button:hover {
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.products .product_container .product_card .product_card_info button:hover i {
  color: #58c2dd;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.products .product_container .product_card .product_card_info button i {
  color: #fff;
}

.product_detail {
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
}

.product_detail .product_img .product_img_container {
  overflow: hidden;
  width: 540px;
  height: 540px;
}

.product_detail .product_img .product_img_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product_detail .product_info .product_counts button {
  background-color: #58c2dd;
  color: #fff;
  border-color: #58c2dd;
}

.product_detail .product_info .product_counts button.add_cart {
  background: #fff;
  color: #58c2dd;
}

.product_detail .comments_create .comments_create_rating ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}

.product_detail .comments_create .comments_create_rating ul li {
  font-size: 1.5rem;
  color: #dc3545;
}

.product_detail .comments_create .good_comment .good {
  padding: 0.5rem 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 1.5rem;
  margin-right: 1rem;
  font-size: 0.9rem;
}

.product_detail .comments_create .good_comment .good:active {
  -webkit-box-shadow: 0 0 0 .05rem #97a6aa;
          box-shadow: 0 0 0 .05rem #97a6aa;
  background-color: #fff;
}

.product_detail .comments_create button.send_comments_btn {
  background-color: #58c2dd;
  color: #fff;
}

.product_detail .comments_create button.send_comments_btn:hover {
  background-color: #fff;
  color: #58c2dd;
}

.product_detail .comments_area .comments_msg {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .5rem;
  padding: .5rem;
}

.product_detail .comments_area .comments_msg .avatar_container {
  width: 3.5rem;
}

.product_detail .comments_area .comments_msg .avatar_container .avatar {
  width: 2.5rem;
  height: 2.5rem;
}

.product_detail .comments_area .comments_msg .avatar_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product_detail .comments_area .comments_msg .info ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}

.product_detail .comments_area .comments_msg .info ul li {
  font-size: 1.5rem;
  color: #dc3545;
}

.product_detail .comments_area .comments_msg .info .comment_time {
  font-size: .9rem;
  color: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=style.css.map */