.card {
    max-height:70vh;
    margin-top: 35px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;


}
/* 最新消息 的圖片 */
.card1{
    margin-top: 35px;
    border-style: none;
  
}    
.card-content{
    margin-top: 0;
    margin-bottom: 0px;

}
.col{
    padding-left:30px ;
    padding-right:30px ;
    padding-top:0px ;
    padding-bottom:0px ;

}

body {
    background-size: 1400px ;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-image: url('./BG.png');
}

@media screen and (max-width:576px) {


    body {
        background-image: none;
    }
}
