.card{
    max-height:80vh;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;


}

body {
    background-size: 1400px ;
    background-position: 55% 30%;
    background-repeat: no-repeat;
    background-image: url('./BG.png');
}

@media screen and (max-width:576px) {


    body {
        background-image: none;
    }
}
